html {
    height: 100%;
    background: radial-gradient(circle, #ffc0cb, #fcb3d5); /* Pink gradient background :) */
    background-image: url("https://images.unsplash.com/photo-1543097676-44e5a5bd4ef1?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGluayUyMHJlc3RhdXJhbnR8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* A cute font :) */
}

#container {
    width: 750px;
    height: 600px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#front {
    font-size: 40px;
    color: #ff66b2; /* Pink text color- this whole CSS is inspired bt Kawaii style! */
    width: 650px;
    height: 450px;
    padding: 10px;
    margin: 30px auto 20px auto;
    z-index: 2;
    display: none;
}

#front img {
    width: 280px;
}

#instructions {
    width: 450px;
    height: 50px;
    margin: 10px auto;
    font-size: 30px;
    background-color: #ff66b2; /* Pink background color */
    color: #2e1d11;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    box-shadow: 0px 4px 0px 0px #775012;
}

#fruitcontainer {
    background: url("");
    background-size: cover;
    width: 650px;
    height: 450px;
    padding: 10px;
    margin: 30px auto 20px auto;
    background-color: #ffe6f2; /* Light pink background color */
    color: #ff66b2; /* Pink text color */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* A cute font */
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 4px 0px 0px #4b4b4e;
    position: relative;
}

.fruit {
    display: none;
    position: absolute;
}

#score {
    display: none;
}

.scoreDisplay {
    z-index: 1;
    display: flex;
    background-color: transparent;
    color: #ffcc99; /* Light orange text color */
    position: absolute;
    font-size: 30px;
    justify-items: center;
}

#score img {
    width: 40px;
    align-items: center;
    padding-right: 5px;
}

#trialsleft {
    margin-top: 7px;
    display: flex;
    position: absolute;
    left: 550px;
    background-color: transparent;
    z-index: 1;
}

.life {
    width: 30px;
    padding-right: 5px;
}

#startReset {
    position: relative;
    width: 90px;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    background-color: #ff66b2; /* Pink button color */
    box-shadow: 0px 4px 0px 0px #5c5619;
    border-radius: 5px;
    transition: all .2s;
}

#startReset:active {
    background-color: #ff3385; /* Darker pink when clicked */
    box-shadow: 0px 0px #5c5619;
    top: 4px;
    color: white;
}

#gameOver {
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background: transparent;
    color: #ff66b2; /* Pink text color */
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    position: absolute;
    top: 170px;
    left: 150px;
    z-index: 2;
}
